// variable
$white:#FFFFFF;

$gray:#C4C4C4;
$gray-dark: #666666;
$gray-light:#9EA9A7;

$green: #004F44;
$blue-white:#EFF7F5;
$mint:#EFF7F5;
$mint-light:#F3FFFC;

$lib-1:#39362E;
$lib-2:#F3A195;
$lib-3:#EFEAE6;
$lib-4:#C38364;
