
$white: #fff;
$main:#0B0B0B;
$back-main: #000000;
$back-grey: #292929;
$back-blue: #1E2832;
$pink: #FF6F61;
$gray: #777777;
$back-siver: #717171;
$siver: #F1F1F1;
$siver-grey:#AFAFAF;
$siver-white:#E3E3E3;
$footer:#292929;