* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 20px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(-1 * 30px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  background-color: white;
  width: calc(calc(100% / 4) - 30px);
  margin-left: 30px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card_image {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card_top {
  padding: 25px;
}

.card_bottom {
  padding: 25px;
  border-top: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_title {
  font-weight: 600;
  margin-bottom: 20px;
}

.card_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_user-avata {
  height: 40px;
  width: 40px;
  border-radius: 100rem;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card_user-info {
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card_user-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5x;
}

.card_user-top > ion-icon {
  color: #49ff00;
  margin-left: 5px;
}

.card_user-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

.card_user-game {
  color: #999;
  line-height: 1;
  font-weight: 300;
}

.card_live {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #ff6651;
}

.card_live > span {
  margin-left: 10px;
}

.card_watching {
  position: relative;
  color: #999;
  font-size: 14px;
  font-weight: 600;
  padding-left: 14px;
}

.card_watching::before {
  position: absolute;
  content: "";
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 0;
  height: 8px;
  width: 8px;
  background-color: #0f2c67;
  border-radius: 50%;
  z-index: 1;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card_content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card_bottom {
  margin-top: auto;
}

.card_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card_user {
  margin-top: auto;
}

.card_title {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: clip;
  word-break: break-word;
}
/*# sourceMappingURL=style.css.map */